<script type="text/javascript">
  <% if login? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>

<main id="root">React is not Working!!!</main>
