/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome';

// @import 'base/reset';
//
// // Components
@import 'components/navbar';
@import 'components/session_form';
@import 'components/project_index';
@import 'components/project_show';
@import 'components/project_form';

body {
  // width: 100%;
  // display: flex;
  // flex-wrap: wrap;
}

a:hover {
  text-decoration: none;
}

.row {
  display: flex;
  // float: inherit;
  justify-content: center;
}

.col {
}

textarea,
input {
  padding: 10px;
  font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

// .main-app {
//   margin-top: 200px;
// }

button:hover {
  cursor: pointer;
}
