// nav {
//   display: flex;
//
//   /* how to vertically center elements */
//   align-items: center;
//
//   /* how these elements will be distributed horizontally */
//   justify-content: center;
//
//   margin: 20px;
// }
//
//
// nav #logo {
//   justify-content:flex-start;
// }
//
// nav {
//   background: rgba(0, 0, 0, 0.3);
//   padding: 20px;
// }
//
// nav {
//   margin: 20px 0;
//   flex: 1 100%;
// }
//
nav ul li {
  // margin-left: 20px;
  font-size: 20px;
}
//
// nav,
// nav ul {
//   display: flex;
// }
//
// nav {
//   justify-content: space-between;
// }
//
// nav ul {
//   align-items: center;
// }

.login li {
  list-style: none;
}

.welcome h1 {
  font-size: 20px;
  display: flex;
  padding-right: 20px;
}

.new-project-button {
  // display: flex !important;
  // justify-content: center !important;
  margin-right: 100px;
}

.nav-home {
  // position: fixed;
  // display: flex;
  // height: px;
}

// .app {
//   display: flex;
//   flex-direction: column;
// }

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

nav {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-left: 15px;
}

nav div a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navbar .container {
  display: flex;
  justify-content: flex-start;
}

.all-teachers {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  // font-size: 20px;
  font-size: 20px;
  font-weight: 300;
}

.container {
  margin-left: 0;
}

.navbar-form .input-group {
  width: 100%;
  margin-bottom: 20px;
  max-width: 395px;
}

.container .navbar-brand {
  padding-bottom: 30px;
  font-size: xx-large;
}
