.project-index {
  display: flex;
  list-style: none;
  // background-color: gray;
  width: 97%;
  margin: 0 auto;
}

.project-index img {
  width: 99%;
  height: 99%;
}

.title-author {
  display: flex;
  color: green;
  justify-content: space-between;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}
