.project-form {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: auto;

  // background-color: white;

  margin-top: 20px;

  .project-form-button {
    display: flex;
    justify-content: center;
  }
}

.project_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;

  a {
    color: black;
  }

  .project-form-back-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
  }
}

.project-form-upload-image {
  margin-top: 50px;
}

.description-quill {
  height: 530px;
  background-color: white;
  padding-bottom: 65px;
}

.project-form-title {
  width: 100%;
  font-size: medium;
}

.project-form .form-group {
  width: 100%;
}

.project-form a {
  align-self: flex-start;
}

.project-form-line {
  border-bottom: 2px solid black;
}

.image-project-form {
  padding-top: 50px;
  margin-right: 500px;

  span {
    font-size: 20px;
  }
}

.project-form .fa-arrow-circle-o-left {
  color: black;
}

.project-form-description img {
  width: 20%;
  height: 20%;
}

.project-form-video {
  margin-top: 27px;
}

.btn-group {
  margin: 20px 0;
}
