.comment-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-detail {
  width: 60%;
  height: 30%;
  margin: 15px;
  padding: 20px;
  border: 2px solid black;
}
