.footer_container {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin-left: 10px;
  }

  .nav-item a:hover,
  .nav-item a:visited,
  .nav-item a:active,
  .nav-item a {
    color: inherit;
  }
}

// a,
// a:visited,
// a:hover,
// a:active {
// {
//   color: inherit;
// }
