// nav {
//   display: flex;
//
//   /* how to vertically center elements */
//   align-items: center;
//
//   /* how these elements will be distributed horizontally */
//   justify-content: center;
//
//   margin: 20px;
// }
//
//
// nav #logo {
//   justify-content:flex-start;
// }

nav {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

nav {
  margin: 20px 0;
  flex: 1 100%;
}

nav ul li {
  margin-left: 20px;
  font-size: 20px;
}

nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;
}

nav ul {
  align-items: center;
}

.login li {
  list-style: none;
}

.welcome h1 {
  font-size: 20px;
  display: flex;
  padding-right: 20px;
}

.new-project-button {
  // display: flex !important;
  // justify-content: center !important;
  margin-right: 100px;
}

.nav-home {
  // position: fixed;
  // display: flex;
  // height: px;
}

.app {
  display: flex;
  flex-direction: column;
}
