.project-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.project-tag-name {
  font-size: 50px;
  font-family: 'EB Garamond', serif;
}
