.project-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;

  background-color: white;
}

.project_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-form-upload-image {
  margin-top: 50px;
}

.description-quill {
  height: 200px;
}

.project-form-title {
  width: 100%;
}

.project-form .form-group {
  width: 100%;
}

.project-form a {
  align-self: flex-start;
}

.image-project-form {
  padding-top: 50px;
  margin-right: 500px;
}

.project-form .fa-arrow-circle-o-left {
  color: black;
}

.btn-bs-file {
  position: relative;
}
.btn-bs-file input[type='file'] {
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit;
}
