// .submitLogin {
//   padding: 20px;
// }

// .reset-button {
//   // display: inline-block;
//   // padding-left: 10px;
//   display: flex;
// }

.main-index {
  width: 99%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  height: 400px;
}

.session-buttons {
  display: flex;
  justify-content: space-between;
}

.session-buttons button:hover {
  cursor: pointer;
}

.index-img {
  // flex: 1;
  display: block;
  // background-color: red;
  width: 70%;
  overflow: hidden;
}

.index-img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  // left: -5px;
  // right: 20px;
  top: -50px;
  // background-position: right 20px bottom 10px;
}

.session-form {
  // flex: 1;
  display: flex;
  flex-direction: column;
  // background-color: gray;
  justify-content: center;
  width: 30%;
  margin-left: 10px;

  border: 2px solid black;
}

.text-session {
  text-align: center;
}
//
// .project-index-session-form {
//   display: block;
// }

.session-form-login-button {
  display: flex;
  justify-content: space-around;
}

// .header-home {
//   position: fixed;
//   overflow: hidden;
// }

.session-font-input {
  font-size: 20px;
  font-family: 'Lora', serif;
}

.session-text-header {
  font-family: 'Hind', sans-serif;
  font-size: 40px;
}
