.user-index-item {
  padding: 20px;
}

.user-index-item-image {
  display: flex;
  justify-content: center;
}

.user-index-page {
  width: 1000px;

  .container .row {
    display: flex;
    justify-content: center;
  }
}

.card-title {
  padding: 10px;
}

.user-index {
  display: flex;
  list-style: none;
  width: 97%;
  margin: 0 auto;
}

.users-searchBar {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.user-index-item-username {
  font-family: 'Faustina', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.user-index-item-project-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}
