.user-follow-index {
  margin-top: 40px;
  border-top: 2px solid black;
}

.user-follow-following {
  margin-top: 20px;
}

.user-follow-follower {
  margin-top: 20px;
  border-top: 2px solid black;
  h1 {
    margin-top: 20px;
  }
}
