.user-index {
  display: flex;
}

.user-show-img {
  width: 60px;
}

.user-index-info {
  width: 20rem;
  // height: 50px;
}

.card-user-title {
  display: flex;
  justify-content: center;
}

.project-text-user-show {
  padding: 20px;
  display: flex;
  justify-content: center;
}
