.user-index {
  display: flex;
}

.user-show-img {
  width: 60px;
}

.user-index-info {
  width: 20rem;
}

.card-user-title {
  display: flex;
  justify-content: center;
}

.project-text-user-show {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.user-show-projects {
  display: flex;
  list-style: none;
  // background-color: gray;
  width: 97%;
  margin: 0 auto;
}
