.user-index-item {
  padding: 20px;
}

.user-index-item-image {
  display: flex;
  justify-content: center;
}

// .user-index-item-image img {
//   width: 100%;
// }

// .user-index-info {
//   display: flex;
//   justify-content: center;
// }

.card-title {
  padding: 10px;
}

.user-index {
  display: flex;
  list-style: none;
  // background-color: gray;
  width: 97%;
  margin: 0 auto;
}
