.user-follow-index {
  margin-top: 40px;

  h2 {
    margin-left: 20px;
  }
}

.user-follow-following,
.user-follow-follower {
  margin-top: 20px;
  border-top: 2px solid black;
  h2 {
    margin-top: 20px;
  }
}
